---
import { Picture } from 'astro:assets';
import photo from '../images/photo-full.jpg';

import { getCollection } from 'astro:content';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.publishDate.getTime() - a.data.publishDate.getTime(),
);
---

<!doctype html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>
			Sisir Adhikari | Senior Full Stack & SRE | MSc DevOps TU Dublin
		</title>
		<meta
			name="description"
			content="15+ yrs Senior Full Stack Developer & SRE. Specialized in Node.js, React, & AWS. Currently pursuing MSc DevOps at TU Dublin. View my resume and SRE articles."
		/>
		<link rel="preconnect" href="https://fonts.googleapis.com/" />
		<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="" />
		<link
			rel="apple-touch-icon"
			sizes="180x180"
			href="/favicons/apple-touch-icon.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="32x32"
			href="/favicons/favicon-32x32.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="16x16"
			href="/favicons/favicon-16x16.png"
		/>
		<link rel="manifest" href="/favicons/site.webmanifest" />
		<!-- Google tag (gtag.js) -->
		<script
			type="text/partytown"
			is:inline
			async
			src="https://www.googletagmanager.com/gtag/js?id=G-KLHM84WSNK"></script>
		<script is:inline type="text/partytown">
			window.dataLayer = window.dataLayer || [];
			function gtag() {
				dataLayer.push(arguments);
			}
			gtag('js', new Date());

			gtag('config', 'G-KLHM84WSNK');
		</script>
	</head>

	<body class="md:flex md:h-screen">
		<article
			class="flex-1 p-8 text-center flex flex-col items-center justify-center h-screen"
		>
			<Picture
				src={photo}
				formats={['avif', 'webp']}
				alt="Sisir-Adhikari-Senior-Full-Stack-SRE-Dublin"
				class="rounded-full"
			/>
			<h1 class="text-5xl pt-4 pb-2">Sisir Adhikari</h1>
			<h2 class="text-2xl">Senior Full Stack & SRE</h2>
			<p class="text-xl pb-4">MSc. DevOps @TU Dublin</p>
			<div class="text-white py-1 text-lg block w-full max-w-[260px]">
				<a
					href="https://calendly.com/prionkor/30min"
					class="bg-sky-700 block hover:bg-sky-800 rounded-full px-4 py-2"
					>Schedule meeting</a
				>
			</div>
			<div class="text-sky-700 py-3 text-sm">
				<a
					href="https://sisir.me/resume"
					target="_blank"
					class="border border-sky-700 hover:bg-sky-800 hover:text-white rounded-full px-4 py-2"
					>Resume</a
				>

				<a
					href="https://forms.fillout.com/t/5AnG5ABiM4us"
					target="_blank"
					class="border border-sky-700 hover:bg-sky-800 hover:text-white rounded-full px-4 py-2"
					>Contact</a
				>
				<a
					href="https://www.linkedin.com/in/sisir/"
					target="_blank"
					class="border border-sky-700 hover:bg-sky-800 hover:text-white rounded-full px-4 py-2"
					>Linkedin</a
				>
				<a
					href="https://www.toptal.com/resume/sisir-kanti-adhikari"
					target="_blank"
					class="border border-sky-700 hover:bg-sky-800 hover:text-white rounded-full px-4 py-2"
					>Toptal</a
				>
			</div>
			<!-- <div id="meeting" class="text-white text-sm py-3"></div> -->

			<div class="social-icons"></div>
			<div>
				<small class="my-2">
					Relocating to Dublin, Sept 2026. 15+ years of exp.<br />Open to
					fractional Senior/SRE roles.
				</small>
			</div>
		</article>
		<section class="flex-1 p-4 bg-stone-100 overflow-y-auto">
			{console.log(posts)}
			{
				posts.map(post => (
					<article class="bg-white m-4">
						<a class="block p-4" href={'/blog/' + post.id}>
							<h3 class="text-xl font-bold rounded-md pb-2 text-sky-700">
								{post.data.title}
							</h3>
							<p class="text-sm text-gray-700">{post.data.excerpt}</p>
							<small class="text-xs text-gray-500 italic">
								by Sisir Adhikari | {post.data.publishDate.toDateString()}
							</small>
						</a>
					</article>
				))
			}
		</section>
	</body>
</html>
